<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sitepoint.contentdemo" >

    <permission
        android:name="com.sitepoint.contentdemo.PERMISSION"
        android:protectionLevel="dangerous" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        Add android:readPermission="com.sitepoint.contentdemo.PERMISSION" to protect-->
        <provider
            android:name="com.sitepoint.contentdemo.ImagesProvider"
            android:authorities="sitepoint.contentdemo.images"
            android:readPermission="com.sitepoint.contentdemo.PERMISSION"
            android:exported="true">
        </provider>
    </application>

</manifest>
